<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Крюковод
  </h1>
</div>

<div align="center">
  <div align="left" [froalaEditor]="options" [(froalaModel)]="content" (froalaInit)="initialize($event)" ></div>
</div>

<div style="margin: auto; width: 50%; padding-top:40px">

<div class="flex">
  <mat-checkbox *ngFor="let c of notes" [(ngModel)]="c.value" (change)="updateTable()">{{c.name}}</mat-checkbox>
</div>

<mat-form-field style="display:block">
  <input type="text" matInput placeholder="Название (параклит, стопица...)" [ngModel]="name" (ngModelChange)="name = $event; updateTable();">
</mat-form-field>

  <mat-form-field style="width:49%">
    <input matInput placeholder="Кол-во звуков" [ngModel]="sounds" (ngModelChange)="sounds=$event; updateTable()">
  </mat-form-field>

  <mat-form-field style="width:49%">
    <mat-select placeholder="Признаки" [formControl]="features" (change)="updateTable()" multiple>
      <mat-option *ngFor="let p of opts" [value]="p.label">{{p.label}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-grid-list cols="6" class="kalashnikov centerTable" align="center" rowHeight="60px" style="cursor: pointer; margin-bottom:200px;">
  <mat-grid-tile
      *ngFor="let item of current_KRUK"
      style.background = "lightblue"
      [ngClass]="item.clazz ? item.clazz : ''"
      [innerHtml]="item.value"
      (click)="addValue(item.value)">
  </mat-grid-tile>
</mat-grid-list>

<!--<table class="kalashnikov centerTable" align="center">
  <tr *ngFor="let row of doubleArray">
    <td *ngFor="let item of row | krukfilter: opts:notes:sounds:opts[0].value:opts[1].value:opts[2].value:opts[3].value:opts[4].value:opts[5].value:opts[6].value:opts[7].value:opts[8].value:opts[9].value:opts[10].value:opts[11].value:opts[12].value:notes[0].value:notes[1].value:notes[2].value:notes[3].value:notes[4].value:notes[5].value" [ngClass]="item.clazz ? item.clazz : ''" (mouseenter)="hoverIn(item)" (mouseleave)="hoverOut(item)" [innerHtml]="item.value" (click)="addValue(item.value)" style="padding: 5px;"></td>
  </tr>
</table>
</div>-->








