@font-face {
    font-family: Kalashnikov;
    src: url('../assets/fonts/Kalashnikov.ttf');
}

.kalashnikov {
    font-family: Kalashnikov;
    font-size: 6em;
    border: 0;
}

.red {
    color: red;
}