/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: Kruk;
    src: url('./assets/fonts/Kruk-Kalashn.ttf');
}

.kalashnikov {
    font-family: Kruk;
    font-size: 1.5em;
    border-color: transparent;
}

.red {
    color: red;
}

table {
    border: none;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.noborders thead tr th, .noborders tbody tr td  {
    border-style: hidden;
    border: none;
    text-align: center;
}

.noborders {
    border: none;
    border-collapse: collapse;
    text-align: center;
}

.fr-view {
  font-family: "CyrillicOld";
  font-size: 3.5em;
  color: #000;
}
